Repository ESMValGroup/ESMValTool, pull requests merged in 2023-05, with the labels that each got.

#3174 [condalock] try modernize lock creation script and repair lock generation
  .github/workflows/create-condalock-file.yml
Labels: installation, condalock

#3182 Pin numpy !=1.24.3 due to severe masking bug
  environment.yml
  environment_osx.yml
  setup.py
Labels: installation

#3188 Update esmpy import for ESMF version 8.4.0 or larger
  esmvaltool/diag_scripts/arctic_ocean/getdata.py
  esmvaltool/diag_scripts/arctic_ocean/interpolation.py
Labels: installation

#3192 Fixed usage of `work_dir` in some CMORizer scripts
  esmvaltool/cmorizers/data/formatters/datasets/cds_satellite_albedo.py
  esmvaltool/cmorizers/data/formatters/datasets/cds_satellite_lai_fapar.py
  esmvaltool/cmorizers/data/formatters/datasets/cds_uerra.py
  esmvaltool/cmorizers/data/formatters/datasets/grace.py
Labels: bug

#3193 Drop python=3.8 support
  .github/workflows/install-from-conda.yml
  .github/workflows/install-from-condalock-file.yml
  .github/workflows/install-from-source.yml
  .github/workflows/run-tests-monitor.yml
  .github/workflows/test-development.yml
  .github/workflows/test.yml
  doc/sphinx/source/quickstart/installation.rst
  environment.yml
  environment_osx.yml
  setup.py
Labels: installation

#3185 add raw file path to logo (logo disappeared from PyPI)
  README.md
Labels: documentation

#3184 Add Release Managers for `v2.9.0` and `v2.10.0`
  doc/sphinx/source/community/release_strategy/release_strategy.rst
Labels: documentation, release

#3150 Add CMORizer for GPCP-SG (pr)
  doc/sphinx/source/input.rst
  esmvaltool/cmorizers/data/cmor_config/GPCP-SG.yml
  esmvaltool/cmorizers/data/datasets.yml
  esmvaltool/cmorizers/data/downloaders/datasets/gpcp_sg.py
  esmvaltool/cmorizers/data/formatters/datasets/gpcp_sg.py
  esmvaltool/recipes/examples/recipe_check_obs.yml
  esmvaltool/references/gpcp-sg.bibtex
Labels: observations, Data
