Repository ESMValGroup/ESMValTool, pull requests merged in 2025-03, with the labels that each got.

#3924 Unpin pandas
  environment.yml
  environment_osx.yml
  setup.py
Labels: installation, requires new ESMValCore release

#3940 Update broken recipes
  doc/sphinx/source/recipes/broken_recipe_list.rst
Labels: documentation, release

#3949 use mamba>=2 for Circle CI upstream development test
  .circleci/config.yml
Labels: testing

#3945 Update citation and changelog for version 2.12
  CITATION.cff
  doc/sphinx/source/changelog.rst
  esmvaltool/utils/draft_release_notes.py
Labels: release

#3899 Update ESACCI-OZONE CMORizer(formatter and downloader) for REF
  doc/sphinx/source/input.rst
  esmvaltool/cmorizers/data/cmor_config/ESACCI-OZONE.yml
  esmvaltool/cmorizers/data/datasets.yml
  esmvaltool/cmorizers/data/downloaders/datasets/esacci_ozone.py
  esmvaltool/cmorizers/data/formatters/datasets/esacci_ozone.ncl
  esmvaltool/cmorizers/data/formatters/datasets/esacci_ozone.py
  esmvaltool/recipes/examples/recipe_check_obs.yml
  esmvaltool/references/esacci-ozone.bibtex
Labels: observations, approved by technical reviewer, approved by scientific reviewer, REF

#3897 Add recipe and diagnostic for ZEC (Zero Emissions Commitment)
  doc/sphinx/source/api/esmvaltool.diag_scripts.climate_metrics.zec.rst
  doc/sphinx/source/api/esmvaltool.rst
  doc/sphinx/source/recipes/figures/zec/zec_bar.png
  doc/sphinx/source/recipes/figures/zec/zec_ts.png
  doc/sphinx/source/recipes/index.rst
  doc/sphinx/source/recipes/recipe_zec.rst
  esmvaltool/diag_scripts/climate_metrics/zec.py
  esmvaltool/recipes/recipe_zec.yml
  esmvaltool/references/macdougall20.bibtex
Labels: looking for scientific reviewer, in technical review, REF

#3923 Create scatterplots for the REF
  doc/sphinx/source/recipes/figures/ref/seaborn_jointplot.png
  doc/sphinx/source/recipes/recipe_ref.rst
  esmvaltool/diag_scripts/seaborn_diag.py
  esmvaltool/recipes/ref/recipe_ref_scatterplot.yml
Labels: diagnostic, new recipe, REF

#3891 Add recipe for seasonal cycle and time series of Arctic/Antarctic sea ice area (REF)
  doc/sphinx/source/recipes/figures/ref/annual_cycle_sea_ice_area_nh_ambiguous_dataset_ambiguous_mip_historical_r1i1p1f1.png
  doc/sphinx/source/recipes/figures/ref/timeseries_sea_ice_area_nh_sep_ambiguous_dataset_ambiguous_mip_historical_r1i1p1f1.png
  doc/sphinx/source/recipes/recipe_ref.rst
  esmvaltool/recipes/ref/recipe_ref_sea_ice_area_basic.yml
  esmvaltool/references/osi-450.bibtex
Labels: approved by scientific reviewer, REF

#3963 Update CMORizer for OSI-450 aka OSISAF/CCI (sea ice concentration)
  esmvaltool/cmorizers/data/cmor_config/OSI-450-nh.yml
  esmvaltool/cmorizers/data/cmor_config/OSI-450-sh.yml
  esmvaltool/cmorizers/data/datasets.yml
  esmvaltool/cmorizers/data/downloaders/datasets/osi_450_nh.py
  esmvaltool/cmorizers/data/downloaders/datasets/osi_450_sh.py
  esmvaltool/cmorizers/data/formatters/datasets/osi_450_nh.py
  esmvaltool/cmorizers/data/formatters/datasets/osi_450_sh.py
  esmvaltool/recipes/examples/recipe_check_obs.yml
Labels: observations, approved by technical reviewer, approved by scientific reviewer, REF
