Repository ESMValGroup/ESMValTool, pull requests merged in 2025-05, with the labels that each got.

#4003 use conda exec instead of mamba for circleCI `build_documentation` test
  .circleci/config.yml
Labels: testing

#4011 Update GPCP and ERA5 obs4MIPs datasets in recipe_ref_scatterplot.yml
  esmvaltool/recipes/ref/recipe_ref_scatterplot.yml
Labels: REF

#4007 Select directories for comparison carefully in the RTW
  esmvaltool/utils/recipe_test_workflow/flow.cylc
  esmvaltool/utils/recipe_test_workflow/site/dkrz/recipes.jinja
Labels: Recipe Test Workflow (RTW)

#4009 Implement additional user configuration options in RTW
  esmvaltool/utils/recipe_test_workflow/app/configure/bin/configure.py
  esmvaltool/utils/recipe_test_workflow/flow.cylc
  esmvaltool/utils/recipe_test_workflow/meta/rose-meta.conf
  esmvaltool/utils/recipe_test_workflow/opt/rose-suite-dkrz.conf
  esmvaltool/utils/recipe_test_workflow/rose-suite.conf
Labels: Recipe Test Workflow (RTW)

#4020 Add explanatory note in documentation advice on Codacy
  doc/sphinx/source/community/code_documentation.rst
  doc/sphinx/source/develop/dataset.rst
Labels: documentation

#3636 Adding HadEX3 CMORizer
  doc/sphinx/source/input.rst
  esmvaltool/cmorizers/data/cmor_config/HadEX3.yml
  esmvaltool/cmorizers/data/datasets.yml
  esmvaltool/cmorizers/data/downloaders/datasets/hadex3.py
  esmvaltool/cmorizers/data/formatters/datasets/hadex3.py
  esmvaltool/recipes/examples/recipe_check_obs.yml
  esmvaltool/references/hadex3.bibtex
Labels: observations, approved by technical reviewer, approved by scientific reviewer, IPCC

#3972 CLIVAR ENSO metrics for REF
  .zenodo.json
  CITATION.cff
  doc/sphinx/source/recipes/figures/enso_metrics/ACCESS-CM2_10lifecycle.png
  doc/sphinx/source/recipes/figures/enso_metrics/ACCESS-CM2_12seasonality.png
  doc/sphinx/source/recipes/figures/enso_metrics/ACCESS-CM2_eq_tauu_bias.png
  doc/sphinx/source/recipes/figures/enso_metrics/ACCESS-CM2_pr_map_bias_level2.png
  doc/sphinx/source/recipes/index.rst
  doc/sphinx/source/recipes/recipe_enso_ref.rst
  esmvaltool/config-references.yml
  esmvaltool/diag_scripts/enso_metrics/climatology_diagnostic1.py
  esmvaltool/diag_scripts/enso_metrics/climatology_diagnosticlevel2.py
  esmvaltool/diag_scripts/enso_metrics/enso_diag1metrics.py
  esmvaltool/recipes/ref/recipe_enso_basicclimatology.yml
  esmvaltool/recipes/ref/recipe_enso_characteristics.yml
  esmvaltool/references/planton2021.bibtex
Labels: approved by technical reviewer, approved by scientific reviewer, new recipe, REF

#3913 Extend broken recipe policy
  doc/sphinx/source/community/broken_recipe_policy.rst
Labels: documentation

#4026 Run pre-commit on main
  doc/sphinx/source/community/broken_recipe_policy.rst
Labels: testing

#4017 Update RTW to use new user configuration
  esmvaltool/utils/recipe_test_workflow/app/configure/bin/configure.py
  esmvaltool/utils/recipe_test_workflow/app/configure/rose-app.conf
  esmvaltool/utils/recipe_test_workflow/app/process/rose-app.conf
  esmvaltool/utils/recipe_test_workflow/flow.cylc
  esmvaltool/utils/recipe_test_workflow/site/dkrz/env-file
  esmvaltool/utils/recipe_test_workflow/site/jasmin/env-file
  esmvaltool/utils/recipe_test_workflow/site/metoffice/env-file
Labels: Recipe Test Workflow (RTW)

#4008 Exchange toz reference data in ozone REF recipe
  esmvaltool/recipes/ref/recipe_ref_ozone.yml
Labels: REF

#4033 Add captions to REF recipe for basic sea ice area diags
  esmvaltool/recipes/ref/recipe_ref_sea_ice_area_basic.yml
Labels: REF

#4035 try set a longer no output time limit for Circle tests
  .circleci/config.yml
Labels: testing

#4013 Generate "recipe status" HTML after each Recipe Test Workflow cycle
  doc/sphinx/source/utils/RTW/user_guide/dkrz_production.rst
  doc/sphinx/source/utils/RTW/user_guide/index.rst
  esmvaltool/utils/recipe_test_workflow/app/generate_report/bin/__init__.py
  esmvaltool/utils/recipe_test_workflow/app/generate_report/bin/generate_html_report.py
  esmvaltool/utils/recipe_test_workflow/app/generate_report/bin/report_template.jinja
  esmvaltool/utils/recipe_test_workflow/app/generate_report/bin/test_generate_html_report.py
  esmvaltool/utils/recipe_test_workflow/app/generate_report/opt/rose-app-dkrz.conf
  esmvaltool/utils/recipe_test_workflow/app/generate_report/rose-app.conf
  esmvaltool/utils/recipe_test_workflow/flow.cylc
  esmvaltool/utils/recipe_test_workflow/meta/rose-meta.conf
  esmvaltool/utils/recipe_test_workflow/opt/rose-suite-production.conf
  esmvaltool/utils/recipe_test_workflow/rose-suite.conf
Labels: Recipe Test Workflow (RTW)

#4030 Update RTW to use the `git` scheme
  esmvaltool/utils/recipe_test_workflow/app/get_esmval/bin/clone_latest_esmval.sh
  esmvaltool/utils/recipe_test_workflow/app/get_esmval/opt/rose-app-metoffice.conf
  esmvaltool/utils/recipe_test_workflow/flow.cylc
  esmvaltool/utils/recipe_test_workflow/site/metoffice/runtime.cylc
Labels: Recipe Test Workflow (RTW)

#4019 Add housekeeping to RTW
  doc/sphinx/source/utils/RTW/common.txt
  doc/sphinx/source/utils/RTW/user_guide/workflow.rst
  esmvaltool/utils/recipe_test_workflow/app/housekeeping/rose-app.conf
  esmvaltool/utils/recipe_test_workflow/flow.cylc
Labels: Recipe Test Workflow (RTW)

#4042 Optimize caption produced by `tcr.py`
  esmvaltool/diag_scripts/climate_metrics/tcr.py
  esmvaltool/references/gregory08jgr.bibtex
Labels: diagnostic, REF

#4040 Optimize caption produced by `ecs.py`
  esmvaltool/diag_scripts/climate_metrics/ecs.py
  esmvaltool/references/gregory04grl.bibtex
Labels: diagnostic, REF

#3907 update and combine drought diagnostics
  archive/legacy_diag_scripts/droughtindex/diag_save_spi.R
  archive/legacy_diag_scripts/droughtindex/diag_spei.R
  archive/legacy_diag_scripts/droughtindex/diag_spi.R
  archive/legacy_recipes/recipe_spei.yml
  doc/sphinx/source/api/esmvaltool.diag_scripts.droughts.rst
  doc/sphinx/source/api/esmvaltool.diag_scripts.droughts/collect_drought.rst
  doc/sphinx/source/api/esmvaltool.diag_scripts.droughts/diffmap.rst
  doc/sphinx/source/api/esmvaltool.rst
  doc/sphinx/source/recipes/droughts/recipe_consecdrydays.rst
  doc/sphinx/source/recipes/droughts/recipe_martin18grl.rst
  doc/sphinx/source/recipes/droughts/recipe_spei.rst
  doc/sphinx/source/recipes/figures/droughts/spei_example.png
  doc/sphinx/source/recipes/figures/droughts/spi_example.png
  doc/sphinx/source/recipes/index.rst
  doc/sphinx/source/recipes/recipe_droughts.rst
  doc/sphinx/source/recipes/recipe_martin18grl.rst
  doc/sphinx/source/recipes/recipe_spei.rst
  esmvaltool/diag_scripts/droughtindex/collect_drought_model.py
  esmvaltool/diag_scripts/droughtindex/collect_drought_obs_multi.py
  esmvaltool/diag_scripts/droughts/__init__.py
  esmvaltool/diag_scripts/droughts/cdd.py
  esmvaltool/diag_scripts/droughts/collect_drought.py
  esmvaltool/diag_scripts/droughts/constants.py
  esmvaltool/diag_scripts/droughts/diffmap.py
  esmvaltool/diag_scripts/droughts/diffmap.yml
  esmvaltool/diag_scripts/droughts/pet.R
  esmvaltool/diag_scripts/droughts/spei.R
  esmvaltool/diag_scripts/droughts/utils.R
  esmvaltool/diag_scripts/droughts/utils.py
  esmvaltool/recipes/droughts/recipe_cdd.yml
  esmvaltool/recipes/droughts/recipe_martin18grl.yml
  esmvaltool/recipes/droughts/recipe_spei.yml
Labels: in technical review, approved by scientific reviewer

#4039 Only run imagehash tests on Linux machines
  setup.cfg
  tests/conftest.py
Labels: testing

#4052 Update location of `recipe_consecdrydays.yml` in the RTW
  esmvaltool/utils/recipe_test_workflow/site/dkrz/recipes.jinja
  esmvaltool/utils/recipe_test_workflow/site/jasmin/recipes.jinja
  esmvaltool/utils/recipe_test_workflow/site/metoffice/recipes.jinja
Labels: Recipe Test Workflow (RTW)

#4045 Retire julia recipes
  archive/legacy_diag_scripts/rainfarm/rainfarm.jl
  archive/legacy_diag_scripts/shared/external.jl
  archive/legacy_recipes/recipe_rainfarm.yml
  doc/sphinx/source/recipes/broken_recipe_list.rst
  doc/sphinx/source/recipes/index.rst
  doc/sphinx/source/recipes/recipe_examples.rst
  doc/sphinx/source/recipes/recipe_rainfarm.rst
  esmvaltool/diag_scripts/examples/diagnostic.jl
  esmvaltool/recipes/examples/recipe_julia.yml
Labels: diagnostic, deprecated feature

#3847 Downloader & cmorizer for NOAA GML surface flask trace gases
  doc/sphinx/source/input.rst
  esmvaltool/cmorizers/data/cmor_config/NOAA-GML-SURFACE-FLASK-CH4.yml
  esmvaltool/cmorizers/data/cmor_config/NOAA-GML-SURFACE-FLASK-CO2.yml
  esmvaltool/cmorizers/data/datasets.yml
  esmvaltool/cmorizers/data/downloaders/datasets/noaa_gml_surface_flask_ch4.py
  esmvaltool/cmorizers/data/downloaders/datasets/noaa_gml_surface_flask_co2.py
  esmvaltool/cmorizers/data/formatters/datasets/noaa_gml_surface_flask.py
  esmvaltool/cmorizers/data/formatters/datasets/noaa_gml_surface_flask_ch4.py
  esmvaltool/cmorizers/data/formatters/datasets/noaa_gml_surface_flask_co2.py
  esmvaltool/config-references.yml
  esmvaltool/recipes/examples/recipe_check_obs.yml
  esmvaltool/references/noaa-gml-surface-flask-ch4.bibtex
  esmvaltool/references/noaa-gml-surface-flask-co2.bibtex
Labels: observations, looking for scientific reviewer, approved by technical reviewer

#3921 Remove Julia from conda dependency environment (but keep tests for `esmvaltool install Julia`) and add docs how to install from source
  .circleci/config.yml
  .github/workflows/run-tests-monitor.yml
  .github/workflows/test-development.yml
  .github/workflows/test.yml
  doc/sphinx/source/quickstart/installation.rst
  environment.yml
  tests/integration/test_diagnostic_run.py
Labels: enhancement, installation, testing

#4063 Retire psyplot recipe and diagnostic
  archive/legacy_diag_scripts/psyplot_diag.py
  archive/legacy_recipes/recipe_psyplot.yml
  doc/sphinx/source/api/esmvaltool.diag_scripts.psyplot_diag.rst
  doc/sphinx/source/api/esmvaltool.rst
  doc/sphinx/source/faq.rst
  doc/sphinx/source/recipes/index.rst
  doc/sphinx/source/recipes/recipe_psyplot.rst
  environment.yml
  environment_osx.yml
  setup.py
Labels: diagnostic, backwards incompatible change

#4073 remove some more Julia references from documentation (but keep some)
  doc/sphinx/source/community/code_documentation.rst
  doc/sphinx/source/community/diagnostic.rst
Labels: documentation
