Repository ESMValGroup/ESMValTool, pull requests merged in 2025-04, with the labels that each got.

#3971 unpin upper limit `r-base`
  environment.yml
Labels: installation, testing

#3977 Added option to plot horizontal lines in monitoring line plots
  esmvaltool/diag_scripts/monitor/multi_datasets.py
Labels: diagnostic

#3981 use python-only environment file for Circle build documentation
  .circleci/config.yml
Labels: testing

#3987 Add JASMIN resources for RTW to `jasmin-recipes.jinja`
  doc/sphinx/source/utils/RTW/common.txt
  doc/sphinx/source/utils/RTW/tested_recipes.rst
  esmvaltool/utils/recipe_test_workflow/site/jasmin-recipes.jinja
  esmvaltool/utils/recipe_test_workflow/site/jasmin.cylc
Labels: Recipe Test Workflow (RTW)

#3984 Use site directories in the RTW
  doc/sphinx/source/utils/RTW/add_a_recipe.rst
  doc/sphinx/source/utils/RTW/tested_recipes.rst
  doc/sphinx/source/utils/RTW/user_guide/workflow.rst
  esmvaltool/utils/recipe_test_workflow/app/compare/rose-app.conf
  esmvaltool/utils/recipe_test_workflow/app/configure/rose-app.conf
  esmvaltool/utils/recipe_test_workflow/app/get_esmval/opt/rose-app-dkrz.conf
  esmvaltool/utils/recipe_test_workflow/app/install_env_file/opt/rose-app-dkrz.conf
  esmvaltool/utils/recipe_test_workflow/app/install_env_file/rose-app.conf
  esmvaltool/utils/recipe_test_workflow/app/process/rose-app.conf
  esmvaltool/utils/recipe_test_workflow/flow.cylc
  esmvaltool/utils/recipe_test_workflow/site/dkrz/env-file
  esmvaltool/utils/recipe_test_workflow/site/dkrz/recipes.jinja
  esmvaltool/utils/recipe_test_workflow/site/dkrz/runtime.cylc
  esmvaltool/utils/recipe_test_workflow/site/dkrz/singularity-env-file
  esmvaltool/utils/recipe_test_workflow/site/jasmin/env-file
  esmvaltool/utils/recipe_test_workflow/site/jasmin/recipes.jinja
  esmvaltool/utils/recipe_test_workflow/site/jasmin/runtime.cylc
  esmvaltool/utils/recipe_test_workflow/site/metoffice/env-file
  esmvaltool/utils/recipe_test_workflow/site/metoffice/recipes.jinja
  esmvaltool/utils/recipe_test_workflow/site/metoffice/runtime.cylc
Labels: Recipe Test Workflow (RTW)

#3988 REF ozone recipe
  doc/sphinx/source/recipes/figures/ref/zonal_mean_profile_o3_CNRM-ESM2-1_historical.png
  doc/sphinx/source/recipes/recipe_ref.rst
  esmvaltool/diag_scripts/monitor/multi_datasets.py
  esmvaltool/recipes/ref/recipe_ref_ozone.yml
Labels: new recipe, REF

#3927 Evaluate key climate variables at Global warming levels
  doc/sphinx/source/recipes/figures/gwls/CMIP6_mm_mean_ssp126_1.5_tas.png
  doc/sphinx/source/recipes/figures/gwls/CMIP6_mm_stdev_ssp126_1.5_tas.png
  doc/sphinx/source/recipes/index.rst
  doc/sphinx/source/recipes/recipe_calculate_gwl_exceedance_stats.rst
  esmvaltool/diag_scripts/gwls/calculate_gwl_exceedance_years.py
  esmvaltool/diag_scripts/gwls/plot_gwl_exceedance_mm_stats.py
  esmvaltool/recipes/recipe_calculate_gwl_exceedance_stats.yml
  esmvaltool/references/swaminathan22jclim.bibtex
Labels: approved by technical reviewer, approved by scientific reviewer, REF

#3992 Faster and lower memory version of recipe_ref_scatterplot.yml
  esmvaltool/diag_scripts/seaborn_jointplot_histogram.py
  esmvaltool/recipes/ref/recipe_ref_scatterplot.yml
Labels: diagnostic, REF
